__pycache__/
**/__pycache__/
**/*.pyc
**/*.pyo
.git/
.github/
.logs/
.pytest_cache/
.ruff_cache/
.vscode/
.venv/
build/
dist/
env/
venv/
*.egg-info/
*.pyd
*.swp
.ipynb_checkpoints
data/
docs/
final/results/
final/research_candidates/**/model.joblib
notebooks/
clients/
unittests/
*.h5
*.keras
models/
*.log
tuner_dir/
src/__pycache__/
unittests/__pycache__/
